@model AtenasCalzado.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Producto</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input asp-for="Imagen" type="file" accept="image/jpeg" class="form-control" />
                    
                </div>

                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MarcaId" class="control-label"></label>
                    <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
                    <span asp-validation-for="MarcaId" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index">Volver al listado</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

