@model AtenasCalzado.Models.Categoria

@{
    ViewData["Title"] = "";
}

<h1 class="text-center">Borrar Categoria</h1>


<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Categoria:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">volver al listado</a>
    </form>
</div>
