@model IEnumerable<AtenasCalzado.Models.Categoria>

@{
    ViewData["Title"] = "";
}

<h1 class="text-center">Categorias</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Agregar categoria</a>
</p>
