@{
    ViewData["Title"] = "";
}

<div class="imagen-contenedor">
    <img src="~/imagenes/logo atenas.jfif" alt="Logo" class="imagen-personalizada" />
</div>

<div class="text-center">


    <h1 class="display-4" style="color: #8B6914 ;">¡Bienvenidos a Atenas Calzados!!</h1>
    <p>
        En Atenas Calzados, tu comodidad y estilo son nuestra prioridad. Descubre nuestra exclusiva colección de calzado, diseñada para cada ocasión y estilo de vida. Desde elegantes zapatos para la oficina hasta cómodas zapatillas para el día a día, tenemos algo para cada paso que des.

        Explora nuestra variedad de estilos y encuentra el par perfecto que se ajuste a tu personalidad y necesidades. En Atenas Calzados, estamos aquí para que cada paso que des sea con confianza y estilo.

        Déjanos ser parte de tu historia, porque cada mujer merece sentirse empoderada y radiante en cada paso.</a>.
    </p>

</div>