@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>**Política de Privacidad**</h1>

<p>
    **Última actualización: [24/10/2024]**

    En Atenas Calzados, nos comprometemos a proteger tu privacidad y a garantizar que tu información personal se maneje de manera responsable.
    Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos tu información cuando visitas nuestro sitio web.
</p>
<p>
    1. Información que recopilamos

    Recopilamos información personal que tú nos proporcionas al realizar un pedido, crear una cuenta o suscribirte a nuestro boletín. Esta información puede incluir:

    Nombre, Dirección de envío, Dirección de facturación, Correo electrónico, Número de teléfono y Información de pago
</p>
<p>
    2. Uso de la información

    Utilizamos tu información personal para: Procesar y gestionar tus pedidos, Comunicarte sobre el estado de tu pedido, Mejorar nuestro sitio web y servicios, Enviarte información sobre promociones y novedades, si has optado por recibir nuestras comunicaciones.
</p>
<p>
    3. Protección de la información

    Implementamos medidas de seguridad adecuadas para proteger tu información personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción.
</p>
<p>

    4. Compartir información

    No vendemos, intercambiamos ni transferimos tu información personal a terceros sin tu consentimiento, excepto cuando sea necesario para procesar tu pedido (por ejemplo, compartir información con empresas de envío).

</p>
<p>
    5. Tus derechos

    Tienes derecho a acceder, corregir o eliminar tu información personal.
    También puedes optar por no recibir comunicaciones de marketing en cualquier momento. Para ejercer estos derechos, contáctanos en Patriciovega037@gmail.com.
</p>
<p>
    6. Cookies

    Nuestro sitio web utiliza cookies para mejorar la experiencia del usuario. Las cookies son pequeños archivos que se almacenan en tu dispositivo.
    Puedes configurar tu navegador para que no acepte cookies, pero esto puede afectar la funcionalidad del sitio.
</p>
<p>
    7. Cambios a esta política

    Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Te informaremos sobre cambios significativos a través de nuestro sitio web.
    Te recomendamos revisar periódicamente esta política para estar al tanto de cómo protegemos tu información.
</p>
<p>
    8. Contacto
    Si tienes preguntas o inquietudes sobre esta Política de Privacidad, por favor contáctanos en Patriciovega037@gmail.com
</p>
