
@{
    ViewData["Title"] = "";
}

<h1>¿Quienes somos?</h1>
<p>En Atenas Calzado podés encontrar la mayor variedad de productos de calzado y moda. Un servicio con experiencia y excelencia el cual es avalado por los mas de 1000 clientes satisfechos, contamos con más de 3 años de experiencia para brindarte una magnifica atencion en nuestro local fisico</p>

<h3>¿Donde nos encontramos?</h3>
<p>nuestro local fisico se encuentra en Brinkmaann, Cordoba por calle Av.Sebeer 263 </p>
<div>
    <img src="~/imagenes/lugar.PNG" alt="Localizacion" class="imagen-personalizada"/>
</div>

<h3>Te invito a seguirnos en nuestras redes:</h3>
<p><a href="https://www.instagram.com/atenascalzados_?igsh=dW1sMzJ6eTJ6a281"><img src="~/imagenes/logoo.jpg" alt="Logo" class="logo-social" /></
    <a href="https://wa.me/qr/YFGEV2FPHBGYM1"><img src="~/imagenes/logowpp.jpg" alt="Logo" class="logo-social"/></a>
    <a href="https://www.facebook.com/jesica.voisard.75"><img src="~/imagenes/logoface.jpg" alt="Logo" class="logo-social"/></a>
   <p>

 
